[Unit]
Description=tCar Core Service
After=local-fs.target
[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/tCarCore
ExecStart=/home/pi/miniforge3/envs/tcar-core_env/bin/python /home/pi/tCarCore/init.py
Restart=on-failure
[Install]
WantedBy=multi-user.target
